@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(211, 242, 252);background-color: rgb(211, 242, 252);
    color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    text-align: center;
  }
  
  h1{
    font-size: 2.5rem;
  }
  
  h2{
    font-size: 2.5rem;
    color: slategrey;
  }
  
  button{
    background-color: transparent;
    padding: 0.5rem 0.7rem;
    border: 0.2rem solid #1C1C1C;
    border-radius: 0.5rem;
    margin: 2rem 0.5rem;
    font-weight: bolder;
  }
  
  button:hover{
    background-color: #1C1C1C;
    color: #FFFCFC;
  }